{% extends 'base.html.twig' %}

{% block title %}New PieceJointe{% endblock %}

{% block body %}
    <h1>Create new PieceJointe</h1>

    {{ include('piece_jointe/_form.html.twig') }}

    <a href="{{ path('piece_jointe_index') }}">back to list</a>
{% endblock %}
