.page-presentation .header .logo-mds {
	display: flex;
	margin: 60px auto;
}

.aside .header .logo-mds {
	display: flex;
	margin: 60px auto;
}


/*BOUTON HELP*/
.block-footer .help {
	bottom: 70px;
	position: absolute;
	right: 3%;
}


/*POUR QUE LE FOOTER SE METTE BIEN EN BAS*/

html {
	height: 100%; 
}

body {
	height: 100%;
	position: relative;
}

main {
	min-height: 100%;
	position: relative;
}

.block-main {
	position: relative;
	padding-bottom: 15px;
}


/*FOOTER TOUTES ECOLES*/

.block-footer .footer { 
	display: flex;
	margin: auto;
	padding: 20px 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 15px;
	position: absolute;
}

.block-footer ul { 
	display: flex;
	margin: auto;
	padding-left: 0;
}

.block-footer li { 
	list-style: none;
	margin: 0 15px;
}



/*FOOTER MDS*/

.block-footer .footer.mds {
	background-color: #363635;
}


.block-footer .footer.mds li {
	color: #777777;
}


.block-footer .footer.mds a {
	color: #777777;
	text-decoration: none;
	font-family: "Ubuntu-condensed", helvetica, arial, sans-serif;
	font-size: 1.1em;
}

.block-footer .footer.mds a:hover, 
.block-footer .footer.mds a:active,
.block-footer .footer.mds a:focus {
	color: #999999;
}