/** FONTS **/

@font-face {
	font-family: "Ubuntu-condensed";
	src: url('../fonts/ubuntu/Ubuntu-C.ttf');
}

main {
  display: block;
  height: 100vh;
}

main .block-main {
  display: flex;
  height: 91vh;
}

main footer {
  display: flex;
  height: 9vh;
}

.block-main .aside{
  height: 100%;
  width: 33.5vw;
  border-right: 4px #363635 solid;
}

.block-main .main {
  height: 100%;
	width: 66.5vw;
}
