* FONTS **/

@font-face {
	font-family: "Ubuntu-condensed";
	src: url('../fonts/ubuntu/Ubuntu-C.ttf');
}


.page-presentation {
	margin: auto;
	display: flex;
	flex-direction: column;
}


.page-presentation .texte-mds {
	font-family: "Ubuntu-condensed", helvetica, arial, sans-serif;
	font-size: 1.2em;
	color: #363635;
	margin-bottom: 60px;
}

.page-presentation .titre-mds {
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 60px;
}

.page-presentation .intro-mds p {
	width: 45%;
	margin: auto auto 20px;
	text-align: center;
}


.page-presentation .intro-mds .blue {
	color: #4BC4CF;
}

.page-presentation .intro-mds .yellow {
	color: #F7B60A;
}

.page-presentation .intro-mds .orange {
	color: #FF8A22;
}

.page-presentation .container-lgn .lgn-1 {
	font-size: 0.8em;
	font-weight: bold;
}

.page-presentation .container-lgn .lgn .btn-presentation {
    margin: auto 15px;
    border: none;
	padding: 18px 15px;
	text-transform: uppercase;
	text-decoration: none;
	transition: color .5s, border .5s, background .5s, transform 2s;
}


/* PAGE FORMULAIRE 1*/

.page-formulaire-1 {
	display: flex;
	width: 100vw;
}

.page-formulaire-1 .progression-mds {
	margin: 60px auto;
	display: flex;
}

.page-formulaire-1 .titre-mds {
	margin-bottom: 60px;
}

.page-formulaire-1 .textfield .input-group .textfield-input {
	margin: auto auto 20px;
	width: 15vw;
}

.page-formulaire-1 .container-lgn .lgn .btn-choix {
	margin: auto 1vw;
	width: 10vw;
}