/** FONTS **/

@font-face {
	font-family: "Ubuntu-condensed";
	src: url('../fonts/ubuntu/Ubuntu-C.ttf');
}

/* BOUTON AIDE NONE */

.aide .block-footer .help {
  display: none;
}

/* PARTIE ASIDE*/

.block-main .aside.aide {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

	/* Partie menu  */
.menu button {
	padding: 0px;
	border: none;
	display: flex;
	width: 100%;
	transition: 0.4s;
}

.menu .perso {
	background-color: #FFBD1D;
}

.menu .garant {
	background-color: #FF8A22;
}

.menu .formation {
	background-color: #4BC4CF;
}

.menu .dossier {
	background-color: #46A2FF;
}

.menu .pj {
	background-color: #F74D9D;
}

.menu button h2 {
	width: 100%;
	margin: auto;
	padding: 25px;
}

.menu  .questions {
	display: none;
	padding: 0 18px;
	background-color: white;
	overflow: hidden;
}


/* FIN PARTIE ASIDE  */

/* PARTIE MAIN */


.titre-mds {
	font-size: 1.4em;
	text-transform: uppercase;
	font-family: "Ubuntu-condensed";
	font-weight: bolder;
	text-align: center;
	margin-bottom: 30px;
	color: #363635
}

.main hr {
	height: 2px;
	border: none;
	background-color: #363635;
	width: 300px;
	margin: 20px auto;
}

.main .answer_question {
	margin: auto;
	width: 50%;
}

.main .answer_question p{
	font-size: 1.1em;
	font-family: "Ubuntu-condensed";
	text-align: center;
	color: #363635
}

.main a {
	margin: auto;
}

/* FIN PARTIE MAIN */
