/** FONTS **/

@font-face {
	font-family: "Ubuntu";
	src: url('../fonts/ubuntu/UbuntuCondensed-Regular.ttf');
}

/** STYLE FUNCTIONS **/


/** INPUT TEXT **/

.form-main {
	display: flex;
	flex-direction: column;
}

.form-main .nom-form {
	margin: 3rem auto;
	font-size: 1.5rem;
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	color: #7C7C7C;
	text-transform: uppercase;
	font-weight: lighter;
}

.form-main .textfield {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.textfield .input-group {
	margin: auto;
	display: flex;
	margin-bottom: 1.5rem;
}

.textfield .input-group a {
	margin: auto;
	margin-left: 2rem;
	display: flex;
}

.info-button {
	margin: auto;
	width: 27px;
}

.textfield .textfield-label {
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	color: #7C7C7C;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 1.1rem;
	padding: 1rem 0;
}

.textfield .input-group .textfield-input {
	border: 1px solid rgba(112, 112, 112, .4);
	padding : 1rem 7rem 1rem 1.5rem;
	margin: auto;
	margin-right: 2rem;
}

.textfield .input-group .textfield-input:focus {
	border: 1px solid #17E5F5;
	outline: none;
}

/** NAV FORM **/

.form-main .nav-form {
	display: flex;
	margin: auto;
	margin-top: 1.5rem;
}

.form-main .nav-form .btn-form {
	margin: auto 1rem;
	border: none;
	padding: .8rem 2rem;
	text-transform: uppercase;
	text-decoration: none;
	transition: color .5s, border .5s, background .5s, transform 2s;
}


.form-main .nav-form .btn-precedent {
	background: #E7E7E7;
	color: #A9A9A9;
}

.form-main .nav-form .btn-precedent:hover,
.form-main .nav-form .btn-precedent:focus,
.form-main .nav-form .btn-precedent:active {
	color: #E7E7E7;
	background: #A9A9A9;
}

.form-main .nav-form .btn-enregistrer {
	color: #F7B60A;
	border: 1px solid #F7B60A;
}

.form-main .nav-form .btn-enregistrer:hover,
.form-main .nav-form .btn-enregistrer:focus,
.form-main .nav-form .btn-enregistrer:active {
	color: #ffffff;
	background: #F7B60A;
}

.form-main .nav-form .btn-suivant {
	color: #ffffff;
	background: #FF8A22;
}

.form-main .nav-form .btn-suivant:hover,
.form-main .nav-form .btn-suivant:focus,
.form-main .nav-form .btn-suivant:active {
	background: #E76D00;
}

.form-star {
	color: #FF8A22;
}

/** BOUTON CHOIX **/

.form-main .container-lgn {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-main .container-lgn .container-titre {
	width: 52%;
	margin: 0 auto;
}

.form-main .container-titre h2 {
	/* margin: 1rem auto; */
	margin: 0;
	font-size: 1.2rem;
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	color: #7C7C7C;
	text-transform: uppercase;
	font-weight: lighter;
}

.form-main .container-lgn .lgn {
	margin: 1.5rem auto;
	display: flex;
}

.container-lgn .lgn .btn-choix {
	margin: auto 3rem;
	border: none;
	padding: 18px 15px;
	text-transform: uppercase;
	text-decoration: none;
	transition: color .5s, border .5s, background .5s, transform 2s;
}

button:focus {
	outline:0;
}

/** CHECKLIST **/

.form-main .form-checklist {
	display: flex;
	margin: auto;
	flex-direction: column;
}

.form-main .form-checklist .check-ligne {
	display: flex;
	margin: auto;
}

.form-checklist .checkmark-école {
	margin: auto 1rem;
}

/* .form-checklist input[type="radio"]:not(:checked),
.form-checklist input[type="radio"]:checked */
.form-checklist .radio-école  {
	margin: auto;
	margin-left: 0;
	padding: 1.5em;
	background: none;
	border: none;
}

/**  **/

.page-presentation .boutons {
	display: flex;
}
