/** FONTS **/

@font-face {
	font-family: "Ubuntu-condensed";
	src: url('../fonts/ubuntu/Ubuntu-C.ttf');
}

/* BOUTON AIDE NONE */

.aide .block-footer .help {
  display: none;
}

.form-main {
	height: 100vh;
}

.block-main {
  display: flex;
	height: 100%;
	min-height: 81.7vh;
  width: 100%;
}

.page-aide {
	display: flex;
	height: 100%;
	min-height: 81.7vh;
	width: 100%;
}

/* PARTIE ASIDE*/

.aside {
  width: 33.5vw;
	border-right: 4px #363635 solid;
}

.titre-mds {
	font-size: 1.4em;
	text-transform: uppercase;
	font-family: "Ubuntu-condensed";
	font-weight: bolder;
	text-align: center;
	margin-bottom: 30px;
	color: #363635
}

/* FIN PARTIE ASIDE  */

/* PARTIE MAIN */

.main {
	width: 66.5vw;
}

.main hr {
	height: 2px;
	border: none;
	background-color: #363635;
	width: 300px;
	margin: 20px auto;
}

.main .answer_question {
	margin: auto;
	width: 50%;
}

.main .answer_question p{
	font-size: 1.1em;
	font-family: "Ubuntu-condensed";
	text-align: center;
	color: #363635
}

.main a {
	margin: auto;
}

/* FIN PARTIE MAIN */
