/** FONTS **/

@font-face {
	font-family: "Ubuntu-condensed";
	src: url('../fonts/ubuntu/Ubuntu-C.ttf');
}

/* BOUTON AIDE NONE */
.aide .block-footer .help {
  display: none;
}

.form-main {
	height: 100vh;
}

.block-main {
  display: flex;
	height: 100%;
	min-height: 81.7vh;
  width: 100%;
}

.page-aide {
	display: flex;
	height: 100%;
	min-height: 81.7vh;
	width: 100%;
}

/* PARTIE ASIDE*/

.aside {
  width: 33.5vw;
  height: 100vh;
	border-right: 4px #363635 solid;
}

.titre-mds {
	font-size: 1.4em;
	text-transform: uppercase;
	font-family: "Ubuntu-condensed";
	font-weight: bolder;
	text-align: center;
	margin-bottom: 60px;
	color: #363635
}

/* FIN PARTIE ASIDE  */

/* PARTIE MAIN */

.main {
	width: 100%;
}

/* FIN PARTIE MAIN */
