* FONTS **/

@font-face {
	font-family: "Ubuntu-condensed";
	src: url('../fonts/ubuntu/Ubuntu-C.ttf');
}

.obligatoire-mention{
	color: #FF8A22;
	font-size: 27px;
}

/* PAGE PIECES JOINTES */

/*Barre de progression*/
.main.formulaire-2 .progression-mds {
	margin: 40px auto;
	display: flex;
}

/*Titre*/
.main.formulaire-2 .titre-mds {
	font-size: 1.4em;
	text-transform: uppercase;
	font-family: "Ubuntu-condensed";
	text-align: center;
	margin-bottom: 4vh;
	color: #363635;
}


/* Liste */
.liste {
	margin-bottom: 5%;
	font-family: "Ubuntu-condensed";
	color: #7D7D7D;
	/* display: list-item; */
}
.liste .upload{
	margin-left: 1%;
  display: inline;
}

.liste-pieces-jointes .element{
	margin-right: 4%;
}

.round-list-jaune{
	background:#FFBD1D;
  border-radius:50%;
 	width:10px;
 	height:10px;
	display: inline-flex;
	margin-right: 3%;
}
.round-list-orange{
	background:#FF8A22;
  border-radius:50%;
 	width:10px;
 	height:10px;
	display: inline-flex;
	margin-right: 3%;
}
.round-list-bleu{
	background:#17E5F5;
  border-radius:50%;
 	width:10px;
 	height:10px;
	display: inline-flex;
	margin-right: 3%;
}
.round-list-bleu-nuit{
	background:#46A2FF;
  border-radius:50%;
 	width:10px;
 	height:10px;
	display: inline-flex;
	margin-right: 3%;
}
.round-list-rose{
	background:#FFBD1D;
  border-radius:50%;
 	width:10px;
 	height:10px;
	display: inline-flex;
	margin-right: 3%;
}


/* UPLOAD DES FICHIERS */
/* on personnalise le label comme on veut */

.liste-pieces-jointes img{
	width: 15px;
}
.label-file-photo-identite {
    cursor: pointer;
    font-weight: bold;
		font-size: 11px;
		color: black;
}
.label-file-photo-identite:hover {
    color: #FFBD1D;
}
.label-file-orange {
    cursor: pointer;
    font-weight: bold;
		font-size: 11px;
		color: black;
}
.label-file-orange:hover {
    color: #FF8A22;
}
.label-file-bleu {
    cursor: pointer;
    font-weight: bold;
		font-size: 11px;
		color: black;
}
.label-file-bleu:hover {
    color: #17E5F5;
}
.label-file-bleu-nuit {
    cursor: pointer;
    font-weight: bold;
		font-size: 11px;
		color: black;
}
.label-file-bleu-nuit:hover {
    color: #46A2FF;
}

.label-file-rose {
    cursor: pointer;
    font-weight: bold;
		font-size: 11px;
		color: black;
}
.label-file-rose:hover {
    color: #F74D9D;
}

/* et on masque le input */
.input-file {
    display: none;
}


/* Infos */

.info{
	margin-left: 41%;
  display: inline;
}
.info img{
	width: 25px;
	position: absolute;
}

/*Container boutons*/
.main.formulaire-2 .container-button {
	margin: auto;
	display: flex;
	padding-top: 4%;
}


/*Style général des boutons*/
.main.formulaire-2 .container-button button {
	margin: auto 1vw;
	padding: 20px 30px;
	border-style: solid;
	border-width: 1px;
	text-transform: uppercase;
}


/*Bouton suivant*/
.main.formulaire-2 .container-button .btn-next {
	color: #ffffff;
	background-color: #FF8A22;
	border-color: #FF8A22;
}

.main.formulaire-2 .container-button .btn-next:hover,
.main.formulaire-2 .container-button .btn-next:focus {
	color: #FF8A22;
	background-color: #ffffff;
}


/*Bouton précédent*/
.main.formulaire-2 .container-button .btn-previous {
	color: #A9A9A9;
	background-color: #E7E7E7;
	border-color: #E7E7E7;
}

.main.formulaire-2 .container-button .btn-previous:hover,
.main.formulaire-2 .container-button .btn-previous:focus {
	color: #E7E7E7;
	background-color: #A9A9A9;
	border-color: #A9A9A9;
}


/*Bouton sauvegarder*/
.main.formulaire-2 .container-button .btn-save {
	color: #FFBD1D;
	background-color: #ffffff;
	border-color: #FFBD1D;
}
