{% include "pop-up.html.twig" %}
<footer class="block-footer">
	<div class="help mds">
		<a href="/espl/dev/espl-symfo/public/index.php/aide-mds" class="bouton-help"><img src="{{ asset('../elements/help-button.png') }}"</a>
	</div>
	<div class="footer mds">
		<ul>
			<li><a href="#" class="mentions">Mentions légales</a></li>
			<li> | </li>
			<li><a href="#" class="devign">Création : Devign</a></li>
			<li> | </li>
			<li><a href="/espl/dev/espl-symfo/public/index.php/contact" class="contact">Contact</a></li>
		</ul>
	</div>
</footer>
{% block javascript %}
<script type="text/javascript" src="{{ asset('../js/jquery.min.js')}}"></script>

	<script type="text/javascript">
		$(function(){
			$(".btn-choix").mouseover(function(){
				var id1 = $(this).attr('id');
				console.log(id1);
				var color1 = $(this).css('color');
				var bg1 = $(this).css('background');
				var border1 = $(this).css('border-color');
				var newcolor = bg1;
				var newbg = border1;
				$('#'+id1).click(function(){
					console.log(newcolor);
					console.log(newbg);
					$(this).css('color', "white");
					$(this).css('background', newbg);
				});
			});
			//Animation bouton help quand la souris passe dessus
			$('.block-footer .help.mds .bouton-help img').mouseover(function() {
				$(this).attr('src', "{{ asset('../elements/help-button-hover.png') }}");
			});
			//Réinitialisation bouton help quand la souris quitte l'image
			$('.block-footer .help.mds .bouton-help img').mouseout(function() {
				$(this).attr('src', "{{ asset('../elements/help-button.png') }}");
			});
		});





	</script>
{% endblock %}
