<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Candidature My Digital School</title>
    <link rel="stylesheet" href="../espl-symfo/css/style-mds-fouzi.css">
    <link href="http://fr.allfont.net/allfont.css?fonts=ubuntu-condensed" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <main>
      <div class="">

        <div class="title1">
          <p>COMMENT AS-TU CONNU L'ECOLE ?</p>
        </div>

        <div class="">
          <div class="D-F-2">

            <form class="" action="index.html" method="post">
              <div class="espace-zoon">
                <div class="espace-radio">
                  <label class="container">
                    <input type="radio" name="select1" value="">
                    <span class="checkmark"></span>
                  </label> Internet ( Précisez : moteur de recherche, sites…)
                </div>
                <div class="espace-radio">
                  <label class="container">
                    <input type="radio" name="select1" value="">
                    <span class="checkmark"></span>
                  </label> Forum Lycée
                </div>
                <div class="espace-radio">
                  <label class="container">
                    <input type="radio" name="select1" value="">
                    <span class="checkmark"></span>
                  </label> Bouche à oreille / relation / étudiant ( Précisez )
                </div>
                <div class="espace-radio">
                  <label class="container">
                    <input type="radio" name="select1" value="">
                    <span class="checkmark"></span>
                  </label> Salon, lequel ? ( Précisez )
                </div>
                <div class="espace-radio">
                  <label class="container">
                    <input type="radio" name="select1" value="">
                    <span class="checkmark"></span>
                  </label> Médias ? ( Précisez : presse, radio, cinéma, affiche… et quel support )
                </div>
              </div>

            </form>

          </div>
        </div>
        <div class="espace-zoon-2">
          <div class="espace-button">
            <button href="#" class="button-X style-button-1" type="button" name="button">PRECEDENT</button>
            <button href="#" class="button-X style-button-2" type="button" name="button">ENREGISTRER</button>
            <button href="#" class="button-X style-button-3" type="button" name="button">SUIVANT</button>
          </div>

          <div class="espace-help">
            <a href="#"> <img src="img/help.png" alt="help" class="style-help"> </a>
          </div>
        </div>


      </div>
    </main>
  </body>
</html>
