<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Candidature My Digital School</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="http://fr.allfont.net/allfont.css?fonts=ubuntu-condensed" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main>
      <div class="">

        <div class="title1">
          <p>COMMENT AS-TU CONNU L'ECOLE ?</p>
        </div>

        <div class="style-radio">
          <div class="D-F-1">
            <form class="" action="index.html" method="post">
              <span class="span-1">As-tu assisté à une Journée Portes Ouvertes ?</span>
                Oui<label class="container">
                <input type="radio" name="select1" value="">
                <span class="checkmark"></span>
              </label>Non
              <label class="container">
                <input type="radio" name="select1" value="">
                <span class="checkmark"></span>
              </label>
            </form>
          </div>
        </div>

        <div class="style-h-p2">
          <p>Après lecture de notre brochure ou consultation du site internet, souhaiterais-tu des précisions
            complémentaires ? </p>
          <p>Si oui, sur quels points d'information ? </p>
          <div class="espace-info">
            <a href="#"> <img src="img/info.png" alt="information" class="style-info"> </a>
          </div>
        </div>

        <div class="espase-textarea">
            <textarea name="name" rows="9" cols="100" class="textarea-style" placeholder="">&nbsp</textarea>
        </div>

        <div class="espace-button">
          <button href="#" class="button-X style-button-1" type="button" name="button">PRECEDENT</button>
          <button href="#" class="button-X style-button-2" type="button" name="button">ENREGISTRER</button>
          <button href="#" class="button-X style-button-3" type="button" name="button">SUIVANT</button>
        </div>

        <div class="espace-help">
          <a href="#"> <img src="img/help.png" alt="help" class="style-help"> </a>
        </div>

      </div>
    </main>
  </body>
</html>
