

      <!-- Code de la button enregistre -->

    <div class="bg-modal">
      <div class="modal-content">

        <div class="close">
          <button id="fermer">X</button>
        </div>

        <div class="barre-orange"></div>

        <div class="content">
                <p class="save"><b>ENREGISTRER</b></p>
                <p>Vous pouvez sauvegarder votre candidature et revenir la compléter plus tard.</p>
                <p>Laissez-nous votre adresse mail.</p>
                <p>Nous vous enverrons un <b class="b-1">code</b> qui vous permettra de revenir à tout moment.</p>
                  <form class="form-popup" action="/espl/dev/espl-symfo/public/index.php/form-sent" method="post">
                    <h4 class="h4">ADRESSE MAIL</h4>
                    {{ form_start(form) }}
                      {{ form_widget(form) }}
                    {{ form_end(form) }}



          					<button class="envoyer" type="submit" name="button">ENVOYER</button>

                  </form>
        </div>

        <div class="barre-blue"></div>
      </div>
    </div>

      <!-- Code de la popup QUITTER #########################   -->

    <!-- Code JAVASCRIPT -->
    {% block javascript %}
    <script type="text/javascript">

      //pop-up de sauvegarde

      var bgModal = document.getElementsByClassName("bg-modal")[0];
      var button = document.getElementById("save");
      var fermer = document.getElementById("fermer");

      button.onclick = function(){
        bgModal.style.display = "flex";
      }

      fermer.onclick = function() {
        bgModal.style.display = "none";
      }


      //si on clique hors de la pop-up, elle disparait
      window.onclick = function(event)
      {
        if((event.target == bgModal2) || (event.target == bgModal))
        {
          bgModal2.style.display = "none";
          bgModal.style.display = "none";
        }
      }


      </script>
    {% endblock %}
</html>
