/** FONTS **/

@font-face {
	font-family: "Ubuntu-condensed";
	src: url('../fonts/ubuntu/Ubuntu-C.ttf');
}

/* PAGE AIDE */
/* BOUTON AIDE NONE */

.aide .block-footer .help {
  display: none;
}

/* PARTIE ASIDE*/

.block-main .aside.aide {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

	/* Partie menu  */
.menu button {
	padding: 0px;
	border: none;
	display: flex;
	width: 100%;
	transition: 0.4s;
}

/* coulerus menus */
.menu .title.perso {
	background-color: #FFBD1D;
}

.menu .title.garant {
	background-color: #FF8A22;
}

.menu .title.formation {
	background-color: #4BC4CF;
}

.menu .title.dossier {
	background-color: #46A2FF;
}

.menu .title.pj {
	background-color: #F74D9D;
}

/* Positionnement titre */
.menu button h2 {
	width: 100%;
	margin: auto;
	display: flex;
	padding: 4vh 0vh 4vh 20vh;
	color: white;
	font-size: 1.4em;
	font-family: "Ubuntu-condensed";
	text-transform: uppercase;
	font-weight: lighter;
	text-align: left;
}

/* Positionnement image */
.menu button img {
	margin: auto;
	width: 20px;
	height: 20px;
	padding-right: 10vh;
}

/* Positionnement questions */
.menu .questions {
	display: none;
	padding: 0 18px;
	background-color: white;
	overflow: hidden;
}

.menu .questions a {
	text-decoration: none;
	color: black;
}

.menu .questions a:visited {
	color: black;
}

.menu .questions p {
	font-size: 1.1em;
	font-family: "Ubuntu-condensed";
	font-weight: lighter;
	text-decoration: none;
}

/* FIN PARTIE ASIDE */

/* PARTIE MAIN */


.main.aide .header {
	margin-top: 12vh;
}

.main.aide .titre-mds {
	font-size: 1.4em;
	text-transform: uppercase;
	font-family: "Ubuntu-condensed";
	font-weight: bolder;
	text-align: center;
	margin: 6vh 0 4vh;
	color: #363635
}

.main hr {
	height: 2px;
	border: none;
	background-color: #363635;
	width: 300px;
	margin: 5vh auto;
}

.main .answer_question {
	margin: 8vh auto;
	width: 45vw;
	overflow: hidden;
}


.main .questions {
	display: none;
}

.main .questions:target {
	display: block;
}
.main .answer_question p{
	font-size: 1.1em;
	font-family: "Ubuntu-condensed";
	text-align: center;
	color: #363635;
}

.main .contact {
	display: flex;
	width: 100%;
}
.main .contact a {
	margin: auto;
	color: white;
}

.main .contact a:hover {
	margin: auto;
	color: #FF8a22;
}

.main .contact button {
	background-color: #FF8a22;
	font-size: 1.1em;
	font-family: "Ubuntu-condensed";
	border: 1px solid #FF8a22 ;
	padding: 20px 30px;
}

.main .contact button:hover {
	background-color: white;
	font-size: 1.1em;
	font-family: "Ubuntu-condensed";
	border: 1px solid #FF8a22 ;
	padding: 20px 30px;
}

.form-main.aide .footer .help.mds {
	display: none;
}

/* FIN PARTIE MAIN */
/* FIN PAGE AIDE */

/* PAGE DOSSIER DE REFLEXION */

.main.dossier-reflexion .progression-mds{
	margin: 6vh auto;
	display: flex;
}

.main.dossier-reflexion .titre-mds {
	font-size: 1.4em;
	text-transform: uppercase;
	font-family: "Ubuntu-condensed";
	font-weight: bolder;
	text-align: center;
	margin-bottom:4vh;
	color: #363635;
}

.main.dossier-reflexion .renseignement-mds {
	margin: auto;
	width: 55vw;
	font-size: 1.1em;
	font-family: "Ubuntu-condensed";
	font-weight: lighter;
	text-align: center;
}

.main.dossier-reflexion  .dossier-questions {
	margin-left: 5vw;
}

.main.dossier-reflexion  .dossier-question {
	display: flex;
	margin-top: 2vh;
}

.main.dossier-reflexion  .dossier-question .dossier-numero {
	margin: 0;
	margin-top: 1.5vh;
	font-size: 1em;
	font-family: "Ubuntu-condensed";
	color: #FFBD1D;
}

.main.dossier-reflexion .dossier-question .questions {
	margin-left: 5px;
	font-size: 1em;
	font-family: "Ubuntu-condensed";
}

.main.dossier-reflexion  .questions p {
	margin: 1.5vh 0;
}

/* BOUTON UPLOAD */
.main.dossier-reflexion .bouton-upload {
	margin-top: 2vh;
	height: 100%;
	display: flex;
}

.main.dossier-reflexion input[type="UPLOAD"] {
  height: 0;
  width: 0;
}

.main.dossier-reflexion input[type="UPLOAD"] + label {
  border: 1px solid rgba(0,0,0,.2);
  padding: 5px;
  background: lavender;
}

.main.dossier-reflexion input {
	display: none;
}

.main.dossier-reflexion label {
	border: 1px solid #CCCCCC;
	padding: 10px;
	font-size: 1em;
	color: white;
	font-family: "Ubuntu-condensed";
	background-color: #CCCCCC;
}

.main.dossier-reflexion label:hover {
	cursor: pointer;
border: 1px solid #A9A9A9;
background-color: #A9A9A9;
}
.main.dossier-reflexion .preview {
	display: flex;
}

.main.dossier-reflexion .preview p{
	font-size: 1em;
	font-family: "Ubuntu-condensed";
	margin: auto;
	margin-left: 2vh;
}


/* FIN BOUTON UPLOAD */

.main.dossier-reflexion .boutons-nav {
	display: flex;
	margin-top: 2vh;
}

.main.dossier-reflexion .boutons-nav .boutons {
	margin: auto;
}

.main.dossier-reflexion .boutons button {
	padding: 15px 30px;
  font-size: 1.1em;
  font-family: "Ubuntu-condensed";
	margin: 0px 1vw;
}

.main.dossier-reflexion .boutons .precedent {
	border: 1px solid #E7E7E7;
	background-color: #E7E7E7;
	color: #A9A9A9;
}

.main.dossier-reflexion .boutons .precedent:hover {
	border: 1px solid #A9A9A9;
	background-color: #A9A9A9;
	color: white;
}

.main.dossier-reflexion .boutons .enregistrer {
	border: 1px solid #FF8A22;
	background-color: white;
	color: #FF8A22;
}

.main.dossier-reflexion .boutons .enregistrer:hover {
	border: 1px solid #FF8A22;
	background-color: #FF8A22;
	color: white;
}

.main.dossier-reflexion .boutons .suivant {
	border: 1px solid #FF8A22;
	background-color: #FF8A22;
	color: white;
}

.main.dossier-reflexion .boutons .suivant:hover {
	border: 1px solid #FF8A22;
	background-color: white;
	color: #FF8A22;
}
